/* Home Page Upper Part */

.home-page-upper {
    height: 880px;
    background-color: rgba(17, 17, 17, 1);
}

.home-content h1 {
    font-size: 120px;
    text-align: end;
    color: #F6EFD6;
    line-height: 125px;
    font-family: 'Gayathri', sans-serif;
}

.home-content {
    padding-left: 10rem;
    padding-right: 10rem;
    padding-top: 14rem;
}

.home-title {
    margin-right: 8rem;
}

.home-title span {
    color: #F3CC64;
}

#home-page-pic1 {
    float: left;
    position: relative;
    top: -150px;
    left: 140px;
}

svg {
    float: left;
    position: relative;
    top: -80px;
    left: 330px;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
.home-content svg {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 5s; 
    animation-fill-mode: forwards; 
}

.home-instruction p {
    color: #F6EFD6;
    margin-top: 60px;
    margin-left: 330px;
    font-family: 'Fira Code', monospace;
}



/* Home Page Bottom Part */

.home-page-bottom {
    height: 700px;
    margin: 6rem 8rem 0 8rem;
}

.home-page-bottom h2 {
    font-size: 80px;
    font-family: 'Gayathri', sans-serif;
}

.home-characters {
    display: flex;
    justify-content: center;
    gap: 160px;
    margin: 8rem 0 2rem 0;
    font-family: 'Fira Code', monospace;
}


.mickey-button button, .daisy-button button, .goofy-button button{
    border: none;
    border-radius: 16px;
    background-color: #111;
    color: #F6EFD6;
    font-size: 18px;
    width: 180px;
    padding: 8px 24px 8px 24px;   
}

.daisy-button button {
    margin-top: 1.3rem;
}

.mickey-button button {
    margin: 2rem 3rem 0 3rem;
}

.goofy-button button {
    margin: 2rem 3rem 0 2.5rem;
}

.color-filter {
    filter: grayscale(100%);
}

.color-filter:before {
    content: '';
    position: absolute;
    z-index: -1;
    transition: all 0.35s;
}

.color-filter:hover {
    filter: none;
    transform: scale(1, 1) rotate(-8deg);
    transition: all 0.35s;
}


/* Hover state styles */

.home-mickey, .home-daisy, .home-goofy {
    position: relative; 
  }

.hover-effect-mickey button {
    background-color: #E7373C;
}

.hover-effect-mickey::after, .hover-effect-daisy::after, .hover-effect-goofy::after {
    content: 'Click to learn more about me';
    color: #F6EFD6;
    font-size: 14px;
    width: 120px; 
    height: 120px;
    background-color: black; 
    border-radius: 50%;
    position: absolute;
    top: -60px; 
    right: -15px;
    z-index: 10;
    padding: 30px 10px 30px 10px;
    text-align: center;
}

.hover-effect-daisy button {
    background-color: #785FAD;
}

.hover-effect-daisy::after {
    content: 'Click to learn more about me';
    color: #F6EFD6;
    font-size: 14px;
    width: 120px; 
    height: 120px;
    background-color: #FD86A6; 
    border-radius: 50%;
    position: absolute;
    top: -60px; 
    right: -65px;
    z-index: 10;
    padding: 30px 10px 30px 10px;
    text-align: center;
}


.hover-effect-goofy button {
    background-color: #FF9600;
}

.hover-effect-goofy::after {
    content: 'Click to learn more about me';
    color: #F6EFD6;
    font-size: 14px;
    width: 120px; 
    height: 120px;
    background-color: black; 
    border-radius: 50%;
    position: absolute;
    top: -60px; 
    right: -35px;
    z-index: 10;
    padding: 30px 10px 30px 10px;
    text-align: center;
}


/* Timeline */

main {
    background-color: #F6EFD6;
    height: auto;
    
}

main h1 {
    font-size: 70px;
    font-family: 'Gayathri', sans-serif;
    text-align: center;
    padding-top: 3rem;
}

.back-button img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    float: left;
    position: relative;
    top: 3rem;
    left: 3rem;
}

.mickey-timeline, .daisy-timeline, .goofy-timeline {
    position: relative;
    width: 100%;
    max-width: 1200px; 
    margin: 40px auto;
    margin-top: 6rem;
  }
  
  .timeline-item {
    position: relative;
    margin-bottom: 60px; 
    display: flex;
    justify-content: flex-end; 
    padding-left: 50%;
  }

.timeline-item:nth-child(odd) {
    justify-content: flex-start;
    padding-right: 50%; 
    padding-left: 0;
}
  
.timeline-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #B20404; 
    border-radius: 50%;
    width: 24px;
    height: 24px;
    top: 50px;
    z-index: 2;
    opacity: 0; /* Start with the dot invisible */
    transition: all 1s ease-out;
}

.daisy-timeline .timeline-img {
    background-color:#785FAD;
}

.goofy-timeline .timeline-img {
    background-color:#F49505;
}
  
.timeline-content {
    width: 100%;
    max-width: 550px; 
    margin: 0 auto;
    padding: 20px;
    z-index: 1;
    position: relative;
    display: flex;
    transition: opacity 8s ease-out, transform 10s ease-out;
    opacity: 0; 
    transform: translateX(-500px); /* Start position for left items */
}

.timeline-item:nth-child(even) .timeline-content {
    transform: translateX(500px); /* Start position for right items */
}
  
.timeline-content img.timeline-image {
    width: 100%;
    max-width: 200px; 
    display: block;
    margin: 0 auto 20px auto;
}

.timeline-content img {
    float: left;
    margin-right: 30px;
    margin-bottom: 100px;
    height: 175px;
    width: 135px;
}

.timeframe h2 {
    text-align: center;
    padding-top: 12px;
    font-family: 'Gayathri', sans-serif;
    background-color:#B20404;
    border-radius: 12px;
    margin-bottom: 30px;
    width: 100px;
    height: 50px;
    color: #fff;
}

.daisy-timeline .timeframe h2 {
    background-color:#785FAD;
}

.goofy-timeline .timeframe h2 {
    background-color:#2F55A8;
}

.time-all {
    width: 340px;
}

.time-all p {
    font-family: 'Fira Code', monospace;
    letter-spacing: -0.6px;
    text-align: left;
}

  
/* Animations for fadein */

.js--fadeInLeft {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 1s ease-out;
}
  
/* Add Main Timeline */

.mickey-timeline::before, .daisy-timeline::before, .goofy-timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    width: 6px;
    background: black; 
    z-index: 0;
}
  


/* Progress Bar */

.bar-container {
    height: 10vh;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.progressbar {
    margin: 50px 0 50px 0;
    counter-reset: step;
    overflow: auto;
}

.progressbar li {
    list-style-type: none;
    width: 20%;
    float: left;
    font-size: 18px;
    position: relative;
    text-align: center;
    color: #111;
    font-family: 'Fira Code', monospace;
}

.progressbar li:before {
    width: 30px;
    height: 30px;
    content: '';
    line-height: 30px;
    border: 2px solid #E3D7B5;
    background-color: #E3D7B5;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    transition: all .8s;
}

.progressbar li:after {
    width: 100%;
    height: 8px;
    content: '';
    position: absolute;
    background-color: #E3D7B5;
    top: 11px;
    left: -39%;
    z-index: 1;
    transition: all .8s;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:before {
    border-color: #F3CC64;
    background-color: #F3CC64;
    transition: all .8s;
}

.progressbar li.active:after {
    background-color: #F3CC64;
    transition: all .8s;
}

/* Trivia Quiz */

.trivia-quiz {
    height: 88vh;
    margin-top: 5rem;
}

#mickey-quiz, #daisy-quiz, #goofy-quiz {
    width: 700px;
    margin: auto;
}

#quiz-counter,#quiz-header,#quiz-results-screen,#quiz-start-screen{
    text-align:center
}

.question {
    margin-top: 2rem;
    font-family: 'Fira Code', monospace;
}

.answers {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column; 
}

.answers a {
    display: block;
    padding: 1em 1em;
    margin-bottom: 0.5em;
    font-size: 16px;
    border-radius:10px;
    background: #fff;
    text-decoration: none;
    color: black;
    font-family: 'Fira Code', monospace;
    transition: background-color 0.3s;
}

.answers a:hover {
    background-color: #F3CC64;
    color: black;
}

.answers a.correct{
    background:#F3CC64;
}

.answers a.incorrect{
    background:#fff;
    border: 3px solid #E7373C;
}

#quiz-controls {
    background:#E3D7B5;
    color: rgb(0, 0, 0);
    padding: 1.25em 0.5em 1em 1.25em;
    text-align: center;
    font-family: 'Fira Code', monospace;
    border-radius:10px;
}

#quiz-results {
    font-size: 2em;
    margin-top: 5rem;
    font-family: 'Fira Code', monospace;
    text-align: center;
}

#quiz-start-btn {
    display: inline-block;
    padding: 0.8em 2em;
    background: #111;
    color: #fff;
    font-size: 18px;
    margin-top: 1.5rem;
    font-family: 'Fira Code', monospace;
}

#quiz-buttons a,.quiz-container .quiz-button {
      display: inline-block;
      padding: 0.5em 2em;
      background:#111;
      color:#fff;
      font-size: 16px;
      font-family: 'Fira Code', monospace;
      margin-top: 0;
      border-radius: 8px;
      
}

.quiz-results-state #quiz-controls{
    background:0 0;
    padding:0;
    margin-top: 5rem;
}

.quiz-results-state #quiz-buttons a{
    background:#333;
    color:#fff
}



/* Back to top button */

.back-to-top {
    text-align: right;
    margin: 0 8rem 0 0;
    height: 25vh;
}

.back-to-top img {
    width: 84px;
}

.back-to-top a:hover {
    width: 84px;
    filter: brightness(1.8);
}

